@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #515a6e;
}
html, body{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, sans-serif;
  color: #515a6e;
  background-color: #889E73;
}
.container{
  max-width: 800px;
  background: #e6e6e6;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
}
.container .text {
  text-align: center;
  font-weight: 600;
  font-size: 41px;
  font-family: 'Poppins', sans-serif;
  background: #515a6e;
  background-clip: text; /* Estándar */
  -webkit-background-clip: text; /* Para compatibilidad con navegadores basados en WebKit */
  -webkit-text-fill-color: transparent;
}

.container form{
  padding: 30px 0 0 0;
  border-radius: 100px;
}
.container form .form-row{
  display: flex;
  margin: 22px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 41px;
  margin: 0 5px;
  position: relative;
  
}
form .form-row .textarea{
  height: 70px;
}
.input-data{
  background: #e6e6e6;
}
.input-data input, .textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: transparent;
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-30px);
  font-size: 14px;
  color: #6c8e9c;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  background: transparent;
  border-radius: 10px;
  padding: 2px;
  
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #e6e6e6;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #9b9790;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #9b9790;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  background-color: transparent;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background-color: #889E73;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  *{
    margin: 0;
    padding: 0px 50px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #515a6e;
  }
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

.error{
  color: rgb(105, 11, 34);
  text-align: center;
}
.escondido{
  display: none;
}
.contrasenia{
  color: rgb(105, 11, 34);
  text-align: left;
}
#errorMensaje2{
  text-align: leftz;
}




/* Estilos para el select */
select {
  width: 100%;
  height: 41px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  font-size: 17px;
  color: #515a6e;
  font-family: 'Poppins', sans-serif;
  appearance: none; /* Esto elimina los estilos predeterminados del navegador */
  -webkit-appearance: none; /* Para Safari */
  -moz-appearance: none; /* Para Firefox */
  position: relative;
}

/* Estilo para el contorno del select */
select:focus {
  border-bottom: 2px solid #6c8e9c;
  outline: none;
}

/* Flecha personalizada */
select::-ms-expand {
  display: none;
}

.select-container {
  position: relative;
}

.select-container::after {
  content: '▼'; /* Puedes usar cualquier símbolo o imagen */
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #515a6e;
  pointer-events: none;
}

.input-data select:focus ~ .underline {
  background-color: #6c8e9c;
}


/* Estilos para el input tipo date */
input[type="date"] {
  width: 100%;
  height: 41px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  font-size: 17px;
  color: #515a6e;
  font-family: 'Poppins', sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

/* Evitar que se muestre el valor predeterminado cuando no hay fecha seleccionada */
input[type="date"]::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: #515a6e;
}

.input_eye {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}
.input-data2 input{
  background: #e6e6e6;  
  width: 100%;
  height: 41px;
  margin: -25px 12px;
  position: relative;
  display: block;
  width: 92%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background: transparent;
  top: 28px;
}
.input-data2 label{
  font-size: 13px;
  padding: 1px 0px;
}